body {
  background-color: #DDDDDD;
}

/* a {
  text-decoration: none;
} */

.snapchat h1 {
  /* font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 54px;
  /* text-align: right; */
  /* color: #240D57;
  position: absolute;
  width: 22%;
  height: 192px;
  left: 0px;
  top: 0px;
  right: 20px; */
}

.snapchat p {
  /* font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  text-align: right;
  color: #4F4F4F;
  width: 521px;
  height: 56px; */
}

img {
  width: 80%;
}

.movie-card {
  width: 440px;
  height: 775.69px;
  top: 100px;
  left: 170px;
  position: absolute;
  color: #240D57;
}

.movie-card p {
  color: #4F4F4F;
}